<label for="system.attributes.ki" class="resource-box-label">{{localize "Ki"}}</label>
<div class="resource-box">
    <div class="resource-field">
        <label for="system.attributes.ki.value" class="resource-label">{{localize "Current"}}</label>
        <input class="class-dependant" type="number" name="system.attributes.ki.value"
            value="{{system.attributes.ki.value}}" data-dtype="Number" />
    </div>
    <hr>
    <div class="resource-field">
        <label for="system.attributes.ki.max" class="resource-label">{{localize "Max"}}</label>
        <input class="class-dependant" type="number" name="system.attributes.ki.max"
            value="{{system.attributes.ki.max}}" data-dtype="Number" />
    </div>
</div>
<label for="system.attributes.executionSpeed" class="resource-box-label">{{localize "Execution Speed"}}</label>
<div class="resource-box">
    <div class="resource-field">
        <label for="system.attributes.executionSpeed.body" class="resource-label">{{localize "Body"}}</label>
        <input type="number" name="system.attributes.executionSpeed.body"
            value="{{system.attributes.executionSpeed.body}}" data-dtype="Number" />
    </div>
    <hr>
    <div class="resource-field">
        <label for="system.attributes.executionSpeed.speed" class="resource-label">{{localize "Speed"}}</label>
        <input type="number" name="system.attributes.executionSpeed.speed"
            value="{{system.attributes.executionSpeed.speed}}" data-dtype="Number" />
    </div>
    <hr>
    <div class="resource-field">
        <label for="system.attributes.executionSpeed.soul" class="resource-label">{{localize "Soul"}}</label>
        <input type="number" name="system.attributes.executionSpeed.soul"
            value="{{system.attributes.executionSpeed.soul}}" data-dtype="Number" />
    </div>
</div>