<div class="resource-field flexcolumn">
    <label for="system.attributes.talisman" class="resource-label">{{localize
        "Talismans"}}</label>
    <div class="resource-field">
        <div class="resource-field">
            <label for="system.attributes.talisman.value" class="resource-label">{{localize
                "Current"}}</label>
            <input class="class-dependant" type="number" name="system.attributes.talisman.value"
                value="{{system.attributes.talisman.value}}" data-dtype="Number" />
        </div>
        <div class="resource-field">
            <label for="system.attributes.talisman.max" class="resource-label">{{localize
                "Max"}}</label>
            <input class="class-dependant" type="number" name="system.attributes.talisman.max"
                value="{{system.attributes.talisman.max}}" data-dtype="Number" />
        </div>
    </div>
</div>