<label for="system.attributes.arcana" class="resource-box-label">{{localize "Arcana"}}</label>
<div class="resource-box">
    <div class="resource-field">
        <label for="system.attributes.arcana.value" class="resource-label">{{localize "Current"}}</label>
        <input type="number" name="system.attributes.arcana.value" value="{{system.attributes.arcana.value}}"
            data-dtype="Number" />
    </div>
    <hr>
    <div class="resource-field">
        <label for="system.attributes.arcana.max" class="resource-label">{{localize "Max"}}</label>
        <input type="number" name="system.attributes.arcana.max" value="{{system.attributes.arcana.max}}"
            data-dtype="Number" />
    </div>
</div>