<label for="system.attributes.breaths" class="resource-label">{{localize
    "Breaths"}}</label>
<div class="resource-box">
    <label for="system.attributes.breaths.value" class="resource-label">{{localize
        "Current"}}</label>
    <input type="number" name="system.attributes.breaths.value" value="{{system.attributes.breaths.value}}"
        data-dtype="Number" />
    <label for="system.attributes.breaths.max" class="resource-label">{{localize
        "Max"}}</label>
    <label name="system.attributes.breaths.max"
        value="{{system.attributes.breaths.max}}">{{system.attributes.breaths.max}}</label>
</div>