<label for="system.attributes.breaths" class="resource-label">{{localize
    "Breaths"}}</label>
<div class="resource-box">
    <label for="system.attributes.breaths.value" class="resource-label">{{localize
        "Current"}}</label>
    <input class="class-dependant" type="number" name="system.attributes.breaths.value"
        value="{{system.attributes.breaths.value}}" data-dtype="Number" />
    <br>
    <label for="system.attributes.breaths.max" class="resource-label">{{localize
        "Max"}}</label>
    <input class="class-dependant" type="number" name="system.attributes.breaths.max"
        value="{{system.attributes.breaths.max}}" data-dtype="Number" />
</div>