<div class="resource-field flexcolumn">
    <label for="system.attributes.blood-power" class="resource-label">{{localize
        "Blood Power"}}</label>
    <div class="resource-field">
        <div class="resource-field">
            <label for="system.attributes.blood-power.value" class="resource-label">{{localize
                "Current"}}</label>
            <input class="class-dependant" type="number" name="system.attributes.blood-power.value"
                value="{{system.attributes.blood-power.value}}" data-dtype="Number" />
        </div>
        <div class="resource-field">
            <label for="system.attributes.blood-power.max" class="resource-label">{{localize
                "Max"}}</label>
            <input class="class-dependant" type="number" name="system.attributes.blood-power.max"
                value="{{system.attributes.blood-power.max}}" data-dtype="Number" />
        </div>
    </div>
</div>