{{> 'systems/shinobi/templates/actor/parts/actor-maxRange.hbs'}}
<label for="system.attributes.bloodPower" class="resource-box-label">{{localize "Blood Power"}}</label>
<div class="resource-box">
    <div class="resource-field">
        <label for="system.attributes.bloodPower.value" class="resource-label">{{localize "Current"}}</label>
        <input class="class-dependant" type="number" name="system.attributes.bloodPower.value"
            value="{{system.attributes.bloodPower.value}}" data-dtype="Number" />
    </div>
    <hr>
    <div class="resource-field">
        <label for="system.attributes.bloodPower.max" class="resource-label">{{localize "Max"}}</label>
        <input class="class-dependant" type="number" name="system.attributes.bloodPower.max"
            value="{{system.attributes.bloodPower.max}}" data-dtype="Number" />
    </div>
</div>