<div class="resource-field">
    <label for="system.attributes.trascendentalShard" class="resource-label">{{localize
        "Trascendental Shards"}}
    </label>
    <div class="resource-field flexcolumn">
        <div class="resource-field">
            <label for="system.attributes.trascendentalShard.value" class="resource-label">{{localize
                "Current"}}</label>
            <input type="number" name="system.attributes.trascendentalShard.value"
                value="{{system.attributes.trascendentalShard.value}}" data-dtype="Number" />
        </div>
        <div class="resource-field">
            <label for="system.attributes.trascendentalShard.max" class="resource-label">{{localize
                "Max"}}</label>
            <input type="number" name="system.attributes.trascendentalShard.max"
                value="{{system.attributes.trascendentalShard.max}}" data-dtype="Number" />
        </div>
    </div>
</div>