<div class="dice-roll">
    {{#if flavor}}<div class="dice-flavor">{{flavor}}</div>{{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">
            {{#if critical}} <span style="color: #0f6f0f; font-size:0.7em;">{{localize "Open!"}} ▶ </span>{{/if}}
            {{#if fumble}} <span style="color: #862020; font-size:0.7em;">{{localize "Fumble!"}} ▶ </span>{{/if}}
            {{total}}
        </h4>
    </div>
</div>

<div>
    <div class="flexrow">
        <button class="buttonclick" data-buttontype="chatButtonDefense" style="font-size:11px;">
            <span style="color: #862020;">✔</span>{{localize "Defense Capacity"}}
        </button>
        {{#if fumble}} 
        <button class="buttonclick" data-buttontype="chatButtonFumble" style="font-size:11px;">
            <span style="color: #862020;">✔</span>{{localize "Fumble!"}}
        </button>
        {{/if}}
    </div>
</div>
