<label for="system.fatigue" class="resource-label">{{localize "Fatigue"}}</label>
<div class="resource-box">
    <label for="system.fatigue.value" class="resource-label">{{localize "Current"}}</label>
    <input type="number" name="system.fatigue.value" value="{{system.fatigue.value}}" data-dtype="Number" />
    <br>
    <label for="system.fatigue.max" class="resource-label">{{localize "Max"}}</label>
    <input type="number" name="system.fatigue.max" value="{{system.fatigue.max}}" data-dtype="Number" />
</div>