<label for="system.health" class="resource-box-label">{{localize "Health"}}</label>
<div class="resource-box">
    <div class="resource-field">
        <label for="system.health.value" class="resource-label">{{localize "Current"}}</label>
        <input type="number" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
    </div>
    <hr>
    <details id="health" {{#openDetails "health" }}{{/openDetails}}>
        <summary class="resource-field summary shadow">
            <label for="system.health.max" class="resource-label">{{localize "Max"}}</label>
            <label type="number" name="system.health.max" value="{{system.health.max}}">{{system.health.max}}</label>
        </summary>
        <div class="resource-field">
            <label for="system.health.class" class="resource-label">{{localize "Class"}}</label>
            <input type="number" name="system.health.class" value="{{system.health.class}}" data-dtype="Number" />
        </div>
        <div class="resource-field">
            <label for="system.health.con" class="resource-label">{{localize "Constitution"}}</label>
            <input type="number" name="system.health.con" value="{{system.health.con}}" data-dtype="Number" />
        </div>
        <div class="resource-field">
            <label for="system.health.others" class="resource-label">{{localize "Others"}}</label>
            <input type="number" name="system.health.others" value="{{system.health.others}}" data-dtype="Number" />
        </div>
    </details>
</div>