<div class="resource-content">
    <h1>{{localize "Combat Styles"}}</h1>
    {{editor system.martial-combat.combat-styles target="system.martial-combat.combat-styles" rollData=rollData
    button=true owner=owner editable=editable}}
    <h1>{{localize "Martial Arts"}}</h1>
    {{editor system.martial-combat.martial-arts target="system.martial-combat.martial-arts" rollData=rollData
    button=true owner=owner editable=editable}}
    <h1>{{localize "Habitual Combat Move"}}</h1>
    {{editor system.martial-combat.combat-move target="system.martial-combat.combat-move" rollData=rollData button=true
    owner=owner editable=editable}}
</div>