<label for="system.combat" class="resource-box-label">{{localize "Combat"}}</label>
<div class="resource-box">
    <div class="resource-field">
        <label for="system.combat.attack" class="resource-label rollable" data-roll="1d10x10+@combat.attack"
            data-label="{{localize 'Attack Capacity'}}"><i class="fa-solid fa-dice-d10"
                data-label="{{localize 'Attack Capacity'}}"></i> {{localize "Attack Capacity"}}</label>
        <input type="number" name="system.combat.attack" value="{{system.combat.attack}}" data-dtype="Number" />
    </div>
    <hr>
    <div class="resource-field">
        <label for="system.combat.defense" class="resource-label rollable" data-roll="1d10x10+@combat.defense"
            data-label="{{localize 'Defense Capacity'}}"><i class="fa-solid fa-dice-d10"
                data-label="{{localize 'Defense Capacity'}}"></i> {{localize "Defense Capacity"}}</label>
        <input type="number" name="system.combat.defense" value="{{system.combat.defense}}" data-dtype="Number" />
    </div>
</div>