<div class="resource-content">
    <label for="system.armor" class="resource-label">{{localize "Armor"}}</label>
    <div class="resource-field flexcolumn">
        <div class="resource-field">
            <label for="system.armor.phisical" class="resource-label">{{localize "Phisical"}}</label>
            <input type="number" name="system.armor.phisical" value="{{system.armor.phisical}}" data-dtype="Number" />
        </div>
        <div class="resource-field">
            <label for="system.armor.heat" class="resource-label">{{localize "Heat"}}</label>
            <input type="number" name="system.armor.heat" value="{{system.armor.heat}}" data-dtype="Number" />
        </div>
        <div class="resource-field">
            <label for="system.armor.cold" class="resource-label">{{localize "Cold"}}</label>
            <input type="number" name="system.armor.cold" value="{{system.armor.cold}}" data-dtype="Number" />
        </div>
    </div>
</div>

<div class="resource-content">
    <br>
    <div class="resource-field flexcolumn">
        <div class="resource-field">
            <label for="system.armor.electrical" class="resource-label">{{localize "Electrical"}}</label>
            <input type="number" name="system.armor.electrical" value="{{system.armor.electrical}}"
                data-dtype="Number" />
        </div>
        <div class="resource-field">
            <label for="system.armor.sobrenatural" class="resource-label">{{localize "Sobrenatural"}}</label>
            <input type="number" name="system.armor.sobrenatural" value="{{system.armor.sobrenatural}}"
                data-dtype="Number" />
        </div>
    </div>
</div>