<label for="system.combat" class="resource-box-label">{{localize "Combat"}}</label>
<div class="resource-box">
    <label for="system.combat.magic" class="resource-label rollable" data-roll="1d10x10+@combat.magic"
        data-label="{{localize 'Magic Capacity'}}"><i class="fa-solid fa-dice-d10"
            data-label="{{localize 'Magic Capacity'}}"></i> {{localize "Magic Capacity"}}</label>
    <input type="number" name="system.combat.magic" value="{{system.combat.magic}}" data-dtype="Number" />
</div>