{{!--This line is for calling the function
{{> "systems/shinobi/templates/actor/parts/actor-features.hbs"}}
--}}

<section class="grid grid-3col">
  <aside class="sidebar">
    {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
    use both the "grid" and "grid-Ncol" class where "N" can be any number
    from 1 to 12 and will create that number of columns. --}}
    <div class="abilities">
      <div class="abilities-header flexrow flex-group-center">
        <h3 class="ability-label">{{localize "Feature"}}</h3>
        <h3 class="ability-input">{{localize "Value"}}</h3>
        <h3 class="ability-mod">{{localize "Modifier"}}</h3>
      </div>
      {{#each system.abilities as |ability key|}}
      <div class="ability flexrow flex-group-center">
        <div class="ability-label">
          <label for="system.abilities.{{key}}.value" class="resource-label rollable"
            data-roll="1d10x10+@abilities.{{key}}.value" data-label="{{ability.label}}"><i class="fa-solid fa-dice-d10"
              data-label="{{ability.label}}"></i> {{ability.label}}</label>
        </div>
        <div class="ability-input">
          <input type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
        </div>
        <div class="ability-mod">
          <span class="ability-mod rollable" data-roll="1d10x10+@abilities.{{key}}.mod"
            data-label="{{ability.label}} Mod"><i class="fa-solid fa-dice-d10" data-label="{{ability.label}} Mod"></i>
            {{numberFormat ability.mod decimals=0 sign=true}}</span>
        </div>
      </div>
      {{/each}}
    </div>
    <br>
    <div class="resistances">
      <div class="resistances-header flexrow flex-group-center">
        <h3 class="resistance-label">{{localize "Resistance"}}</h3>
        <h3 class="resistance-level">{{localize "Level"}}</h3>
        <h3 class="resistance-mod">{{localize "Mod."}}</h3>
        <h3 class="resistance-others">{{localize "Others"}}</h3>
        <h3 class="resistance-final">{{localize "Final"}}</h3>
      </div>
      {{#each system.resistances as |resistance key|}}
      <div class="resistance flexrow flex-group-center">
        <div class="resistance-label">
          <label for="system.resistances.{{key}}.final" class="resource-label rollable"
            data-roll="1d10+@resistances.{{key}}.final" data-label="{{localize 'Resistance'}}
                  {{resistance.label}}"><i class="fa-solid fa-dice-d10" data-label="{{localize 'Resistance'}}
                    {{resistance.label}}"></i> {{resistance.label}}</label>
        </div>
        <div class="resistance-level">
          <label for="{{resistance.level}}">{{resistance.level}}</label>
        </div>
        <div class="resistance-mod">
          <label type="number" name="system.resistances.{{key}}.mod" value="{{resistance.mod}}"
            data-dtype="Number">{{resistance.mod}}</label>
        </div>
        <div class="resistance-others">
          <input type="number" name="system.resistances.{{key}}.others" value="{{resistance.others}}"
            data-dtype="Number" />
        </div>
        <div class="resistance-final">
          <label type="number" name="system.resistances.{{key}}.final" value="{{resistance.final}}"
            data-dtype="Number">{{resistance.final}}</label>
        </div>
      </div>
      {{/each}}
    </div>
  </aside>
  {{!-- For the main features list, span the right two columns --}}
  <section class="main grid-span-2">
    {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in
    module/helpers/templates.mjs --}}
    <aside class="sidebar">
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}
      <div class="secondaries flexcol">
        <div class="secondaries-header flexrow flex-group-center">
          <h3 class="secondary-label">{{localize "Secondary Ability of Strenght"}}</h3>
          <h3 class="secondary-ip">{{localize "IP"}}</h3>
          <h3 class="secondary-mod">{{localize "Mod."}}</h3>
          <h3 class="secondary-class">{{localize "Class"}}</h3>
          <h3 class="secondary-nd">{{localize "ND"}}</h3>
          <h3 class="secondary-others">{{localize "Others"}}</h3>
          <h3 class="secondary-final">{{localize "Final"}}</h3>
        </div>
        <div class="secondary">
          {{#each system.secondaries as |secondary key|}}
          {{#ifCond key '==' "acrobatics"}}<br>
          <h3>{{localize "Secondary Ability of Dexterity"}}</h3>{{/ifCond}}
          {{#ifCond key '==' "search"}}<br>
          <h3>{{localize "Secondary Ability of Perception"}}</h3>{{/ifCond}}
          {{#ifCond key '==' "shinobiKnowledge"}}<br>
          <h3>{{localize "Secondary Ability of Intelligence"}}</h3>{{/ifCond}}
          {{#ifCond key '==' "persuasion"}}<br>
          <h3>{{localize "Secondary Ability of Will"}}</h3>{{/ifCond}}
          <span class="flexrow flex-group-center">
            <div class="secondary-label">
              <label for="system.secondaries.{{key}}.final" class="resource-label rollable"
                data-roll="1d10x10+@secondaries.{{key}}.final" data-label="{{secondary.label}}"><i
                  class="fa-solid fa-dice-d10" data-label="{{secondary.label}}"></i> {{secondary.label}}</label>
            </div>
            <div class="secondary-ip">
              <input type="number" name="system.secondaries.{{key}}.ip" value="{{secondary.ip}}" data-dtype="Number" />
            </div>
            <div class="secondary-mod">
              <label type="number" name="system.secondaries.{{key}}.mod" value="{{secondary.mod}}"
                data-dtype="Number">{{secondary.mod}}</label>
            </div>
            <div class="secondary-class">
              <input type="number" name="system.secondaries.{{key}}.class" value="{{secondary.class}}"
                data-dtype="Number"></input>
            </div>
            <div class="secondary-nd">
              <input type="number" name="system.secondaries.{{key}}.nd" value="{{secondary.nd}}"
                data-dtype="Number"></input>
            </div>
            <div class="secondary-others">
              <input type="number" name="system.secondaries.{{key}}.others" value="{{secondary.others}}"
                data-dtype="Number"></input>
            </div>
            <div class="secondary-final">
              <label type="number" name="system.secondaries.{{key}}.final" value="{{secondary.final}}"
                data-dtype="Number">{{secondary.final}}</label>
            </div>
          </span>
          {{/each}}
        </div>
      </div>
    </aside>
  </section>
</section>