<div class="resource-field flexcolumn">
    <label for="system.tiredness" class="resource-label">{{localize "Tiredness"}}</label>
    <div class="resource-field">
        <div class="resource-field">
            <label for="system.tiredness.value" class="resource-label">{{localize "Current"}}</label>
            <input type="number" name="system.tiredness.value" value="{{system.tiredness.value}}" data-dtype="Number" />
        </div>
        <div class="resource-field">
            <label for="system.tiredness.max" class="resource-label">{{localize "Max"}}</label>
            <input type="number" name="system.tiredness.max" value="{{system.tiredness.max}}" data-dtype="Number" />
        </div>
    </div>
</div>

<div class="resource-field flexcolumn">
    <label for="system.fatigue" class="resource-label">{{localize "Fatigue"}}</label>
    <div class="resource-field">
        <div class="resource-field">
            <label for="system.fatigue.value" class="resource-label">{{localize "Current"}}</label>
            <input type="number" name="system.fatigue.value" value="{{system.fatigue.value}}" data-dtype="Number" />
        </div>
        <div class="resource-field">
            <label for="system.fatigue.max" class="resource-label">{{localize "Max"}}</label>
            <input type="number" name="system.fatigue.max" value="{{system.fatigue.max}}" data-dtype="Number" />
        </div>
    </div>
</div>