<label for="system.fatigue" class="resource-box-label">{{localize "Fatigue"}}</label>
<div class="resource-box">
    <div class="resource-field">
        <label for="system.fatigue.value" class="resource-label">{{localize "Current"}}</label>
        <input type="number" name="system.fatigue.value" value="{{system.fatigue.value}}" data-dtype="Number" />
    </div>
    <hr>
    <details id="fatigue" {{#openDetails "fatigue" }}{{/openDetails}}>
        <summary class="resource-field summary shadow">
            <label for="system.fatigue.max" class="resource-label">{{localize "Max"}}</label>
            <label type="number" name="system.fatigue.max" value="{{system.fatigue.max}}">{{system.fatigue.max}}</label>
        </summary>
        <div class="resource-field">
            <label for="system.abilities.pow.value" class="resource-label">{{system.abilities.pow.label}}</label>
            <label type="number" name="system.abilities.pow.value"
                value="{{system.abilities.pow.value}}">{{system.abilities.pow.value}}</label>
        </div>
        <div class="resource-field">
            <label for="system.fatigue.others" class="resource-label">{{localize "Others"}}</label>
            <input type="number" name="system.fatigue.others" value="{{system.fatigue.others}}" data-dtype="Number" />
        </div>
    </details>
</div>