<div class="advDisadv flex-container">
    <div class="flex-container flex-col">
        <div class="advDisadv-name-adv flex-col">
            <h2>{{localize "Advantages"}}</h2>
            <div class="resource-field-advDisadv">
                <label for="system.adv1" class="resource-label">{{localize "Advantage"}} 1</label>
                <details id="adv1" {{#openDetails "adv1" }}{{/openDetails}}>
                    <summary><input name="system.adv1.name" value="{{system.adv1.name}}" data-dtype="text" type="text">
                    </summary>
                    <textarea data-dtype="text" placeholder="{{localize " Type the advantage description here..."}}"
                        name="system.adv1.description"
                        value="{{system.adv1.description}}">{{system.adv1.description}}</textarea>
                </details>
            </div>
            <div class="resource-field-advDisadv">
                <label for="system.adv2" class="resource-label">{{localize "Advantage"}} 2</label>
                <details id="adv2" {{#openDetails "adv2" }}{{/openDetails}}>
                    <summary><input name="system.adv2.name" value="{{system.adv2.name}}" data-dtype="text" type="text">
                    </summary>
                    <textarea data-dtype="text" placeholder="{{localize " Type the advantage description here..."}}"
                        name="system.adv2.description"
                        value="{{system.adv2.description}}">{{system.adv2.description}}</textarea>
                </details>
            </div>
            <div class="resource-field-advDisadv">
                <label for="system.adv3" class="resource-label">{{localize "Advantage"}} 3</label>
                <details id="adv3" {{#openDetails "adv3" }}{{/openDetails}}>
                    <summary><input name="system.adv3.name" value="{{system.adv3.name}}" data-dtype="text" type="text">
                    </summary>
                    <textarea data-dtype="text" placeholder="{{localize " Type the advantage description here..."}}"
                        name="system.adv3.description"
                        value="{{system.adv3.description}}">{{system.adv3.description}}</textarea>
                </details>
            </div>
            <div class="resource-field-advDisadv">
                <label for="system.adv4" class="resource-label">{{localize "Advantage"}} 4</label>
                <details id="adv4" {{#openDetails "adv4" }}{{/openDetails}}>
                    <summary><input name="system.adv4.name" value="{{system.adv4.name}}" data-dtype="text" type="text">
                    </summary>
                    <textarea data-dtype="text" placeholder="{{localize " Type the advantage description here..."}}"
                        name="system.adv4.description"
                        value="{{system.adv4.description}}">{{system.adv4.description}}</textarea>
                </details>
            </div>
        </div>
        <div class="advDisadv-cost">
            <h2>{{localize "Cost"}}</h2>
            <div class="resource-field-advDisadv">
                <label for="system.adv1" class="resource-label">{{localize "Cost"}} 1</label>
                <input name="system.adv1.cost" value="{{system.adv1.cost}}" data-dtype="Number" type="number">
            </div>
            <div class="resource-field-advDisadv">
                <label for="system.adv2" class="resource-label">{{localize "Cost"}} 2</label>
                <input name="system.adv2.cost" value="{{system.adv2.cost}}" data-dtype="Number" type="number">
            </div>
            <div class="resource-field-advDisadv">
                <label for="system.adv3" class="resource-label">{{localize "Cost"}} 3</label>
                <input name="system.adv3.cost" value="{{system.adv3.cost}}" data-dtype="Number" type="number">
            </div>
            <div class="resource-field-advDisadv">
                <label for="system.adv4" class="resource-label">{{localize "Cost"}} 4</label>
                <input name="system.adv4.cost" value="{{system.adv4.cost}}" data-dtype="Number" type="number">
            </div>
        </div>
    </div>
    <div class="flex-container flex-col">
        <div class="advDisadv-gain">
            <h2>{{localize "Gain"}}</h2>
            <div class="resource-field-advDisadv">
                <label for="system.disadv1" class="resource-label">{{localize "Gain"}} 1</label>
                <input name="system.disadv1.gain" value="{{system.disadv1.gain}}" data-dtype="Number" type="number">
            </div>
            <div class="resource-field-advDisadv">
                <label for="system.disadv2" class="resource-label">{{localize "Gain"}} 2</label>
                <input name="system.disadv2.gain" value="{{system.disadv2.gain}}" data-dtype="Number" type="number">
            </div>
            <div class="resource-field-advDisadv">
                <label for="system.disadv3" class="resource-label">{{localize "Gain"}} 3</label>
                <input name="system.disadv3.gain" value="{{system.disadv3.gain}}" data-dtype="Number" type="number">
            </div>
            <div class="resource-field-advDisadv">
                <label for="system.disadv4" class="resource-label">{{localize "Gain"}} 4</label>
                <input name="system.disadv4.gain" value="{{system.disadv4.gain}}" data-dtype="Number" type="number">
            </div>
        </div>
        <div class="advDisadv-name-disadv flex-col">
            <h2>{{localize "Disadvantages"}}</h2>
            <div class="resource-field-advDisadv">
                <label for="system.disadv1" class="resource-label">{{localize "Disadvantage"}} 1</label>
                <details id="disadv1" {{#openDetails "disadv1" }}{{/openDetails}}>
                    <summary><input name="system.disadv1.name" value="{{system.disadv1.name}}" data-dtype="text"
                            type="text"></summary>
                    <textarea data-dtype="text" placeholder="{{localize " Type the disadvantage description here..."}}"
                        name="system.disadv1.description"
                        value="{{system.disadv1.description}}">{{system.disadv1.description}}</textarea>
                </details>
            </div>
            <div class="resource-field-advDisadv">
                <label for="system.disadv2" class="resource-label">{{localize "Disadvantage"}} 2</label>
                <details id="disadv2" {{#openDetails "disadv2" }}{{/openDetails}}>
                    <summary><input name="system.disadv2.name" value="{{system.disadv2.name}}" data-dtype="text"
                            type="text"></summary>
                    <textarea data-dtype="text" placeholder="{{localize " Type the disadvantage description here..."}}"
                        name="system.disadv2.description"
                        value="{{system.disadv2.description}}">{{system.disadv2.description}}</textarea>
                </details>
            </div>
            <div class="resource-field-advDisadv">
                <label for="system.disadv3" class="resource-label">{{localize "Disadvantage"}} 3</label>
                <details id="disadv3" {{#openDetails "disadv3" }}{{/openDetails}}>
                    <summary><input name="system.disadv3.name" value="{{system.disadv3.name}}" data-dtype="text"
                            type="text"></summary>
                    <textarea data-dtype="text" placeholder="{{localize " Type the disadvantage description here..."}}"
                        name="system.disadv3.description"
                        value="{{system.disadv3.description}}">{{system.disadv3.description}}</textarea>
                </details>
            </div>
            <div class="resource-field-advDisadv">
                <label for="system.disadv4" class="resource-label">{{localize "Disadvantage"}} 4</label>
                <details id="disadv4" {{#openDetails "disadv4" }}{{/openDetails}}>
                    <summary><input name="system.disadv4.name" value="{{system.disadv4.name}}" data-dtype="text"
                            type="text"></summary>
                    <textarea data-dtype="text" placeholder="{{localize " Type the disadvantage description here..."}}"
                        name="system.disadv4.description"
                        value="{{system.disadv4.description}}">{{system.disadv4.description}}</textarea>
                </details>
            </div>
        </div>
    </div>
</div>