<label for="system.combat" class="resource-box-label">{{localize "Combat"}}</label>
<div class="resource-box">
    <details id="combat.magic" {{#openDetails "combat.magic" }}{{/openDetails}}>
        <summary class="resource-field summary combat-summary">
            <label for="system.combat.magic" class="resource-label rollable" data-roll="1d10x10+@combat.magic"
                data-label="{{localize 'Magic Capacity'}}"><i class="fa-solid fa-dice-d10"
                    data-label="{{localize 'Magic Capacity'}}"></i> {{localize "Magic Capacity"}}</label>
            <label type="number" name="system.combat.magic"
                value="{{system.combat.magic}}">{{system.combat.magic}}</label>
        </summary>
        <div class="resource-field">
            <label for="system.abilities.dex.mod" class="resource-label">{{system.abilities.dex.label}}</label>
            <label type="number" name="system.abilities.dex.mod"
                value="{{system.abilities.dex.mod}}">{{system.abilities.dex.mod}}</label>
        </div>
        <div class="resource-field">
            <label for="system.combat.classMagic" class="resource-label">{{localize "Class"}}</label>
            <label type="number" name="system.combat.classMagic"
                value="{{system.combat.classMagic}}">{{system.combat.classMagic}}</label>
        </div>
        <div class="resource-field">
            <label for="system.combat.othersMagic" class="resource-label">{{localize "Others"}}</label>
            <input type="number" name="system.combat.othersMagic" value="{{system.combat.othersMagic}}"
                data-dtype="Number" />
        </div>
    </details>
</div>