<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize Name}}" /></h1>
    </div>
  </header>
  {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
  use both the "grid" and "grid-Ncol" class where "N" can be any number
  from 1 to 12 and will create that number of columns. --}}
  <div class="resources grid grid-1col">

    {{!-- "flex-group-center" is also defined in the _grid.scss file
    and it will add a small amount of padding, a border, and will
    center all of its child elements content and text. --}}

    <div class="resource-content flexrow flex-center flex-between">
      <div class="resource-field">
        <label for="system.class.value" class="resource-label">{{localize "Class"}}</label>
        <select value="{{system.class.value}}" class="select-field" name="system.class.value">
          {{#select system.class.value}}
          {{#each system.classes as |class name|}}
          <option value="{{name}}">{{class.label}}</option>
          {{/each}}
          {{/select}}
        </select>
        <br>
        <label for="system.ethnicity.value" class="resource-label">{{localize "Ethnicity"}}</label>
        <select name="system.ethnicity.value" class="select-field">
          {{#select system.ethnicity.value}}
          {{#each system.ethnicities as |ethnicity name|}}
          <option value="{{name}}">{{ethnicity.label}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      <div class="resource-content">
        <div class="resource-field">
          <label for="system.attributes.level.value" class="resource-label">{{localize "Level"}}</label>
          <input type="number" name="system.attributes.level.value" value="{{system.attributes.level.value}}"
            data-dtype="Number" />
        </div>
        <div class="resource-field">
          <label for="system.attributes.carryArmor.value" class="resource-label">{{localize "Carry Armor"}}</label>
          <input type="number" name="system.attributes.carryArmor.value" value="{{system.attributes.carryArmor.value}}"
            data-dtype="Number" />
        </div>
      </div>
    </div>
    <div class="resource flexrow flex-center flex-between">
      <div class="resource-content">
        <div class="resource-field">
          <label for="system.initiative.value" class="resource-label">{{localize "Initiative"}}</label>
          <input type="number" name="system.initiative.value" value="{{system.initiative.value}}" data-dtype="Number" />
        </div>
        <div class="resource-field">
          <label for="system.speed.value" class="resource-label">{{localize "Movement Speed"}}</label>
          <input type="number" name="system.speed.value" value="{{system.speed.value}}" data-dtype="Number" />
        </div>
      </div>
      <div class="resource-content">
        <div class="resource-field flexcolumn">
          <label for="system.health" class="resource-label">{{localize "Health"}}</label>
          <div class="resource-field">
            <div class="resource-field">
              <label for="system.health.value" class="resource-label">{{localize
                "Current"}}</label>
              <input type="number" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
            </div>
            <div class="resource-field">
              <label for="system.health.max" class="resource-label">{{localize
                "Max"}}</label>
              <input type="number" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="resource-content  flexrow flex-center flex-between">
      {{!-- Exclusive resources depending of the class --}}
      {{#ifCond "warrior" '==' system.class.value}}
      {{> 'systems/shinobi/templates/actor/parts/classes/resources/warrior.hbs'}}
      {{/ifCond}}

      {{#ifCond "ninja" '==' system.class.value}}
      {{> 'systems/shinobi/templates/actor/parts/classes/resources/ninja.hbs'}}
      {{/ifCond}}

      {{#ifCond "energyShaolin" '==' system.class.value}}
      {{> 'systems/shinobi/templates/actor/parts/classes/resources/energyShaolin.hbs'}}
      {{/ifCond}}

      {{#ifCond "samurai" '==' system.class.value}}
      {{> 'systems/shinobi/templates/actor/parts/classes/resources/samurai.hbs'}}
      {{/ifCond}}

      {{#ifCond "warriorOmnyoji" '==' system.class.value}}
      {{> 'systems/shinobi/templates/actor/parts/classes/resources/warriorOmnyoji.hbs'}}
      {{/ifCond}}

      {{#ifCond "omnyoji" '==' system.class.value}}
      {{> 'systems/shinobi/templates/actor/parts/classes/resources/omnyoji.hbs'}}
      {{/ifCond}}

      {{#ifCond "omnyoji" '!=' system.class.value}}
      {{> 'systems/shinobi/templates/actor/parts/actor-combat.hbs'}}
      {{/ifCond}}

      {{#ifCond "omnyoji" '==' system.class.value}}
      {{> 'systems/shinobi/templates/actor/parts/actor-combat-magic.hbs'}}
      {{/ifCond}}

      {{> 'systems/shinobi/templates/actor/parts/actor-fatigue-tiredness.hbs'}}


      {{> 'systems/shinobi/templates/actor/parts/actor-armor.hbs'}}


    </div>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">{{localize "Features"}}</a>
    <a class="item" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="items">{{localize "Items"}}</a>
    {{!-- Exclusive tabs depending of the class --}}
    {{#ifCond "warrior" '==' system.class.value}}
    <a class="item" data-tab="tras-combat-styles">{{localize "Trascendental"}}</a>
    {{/ifCond}}

    {{#ifCond "ninja" '==' system.class.value}}
    <a class="item" data-tab="chakra">{{localize "Chakra"}}</a>
    {{/ifCond}}

    {{#ifCond "energyShaolin" '==' system.class.value}}
    <a class="item" data-tab="chakra">{{localize "Chakra"}}</a>
    {{/ifCond}}

    {{#ifCond "samurai" '==' system.class.value}}
    <a class="item" id="invocation" data-tab="invocation">{{localize "Invocation"}}</a>
    {{/ifCond}}

    {{#ifCond "warriorOmnyoji" '==' system.class.value}}
    <a class="item" data-tab="canalization">{{localize "Canalization"}}</a>
    {{/ifCond}}

    {{#ifCond "omnyoji" '==' system.class.value}}
    <a class="item" data-tab="canalization">{{localize "Canalization"}}</a>
    {{/ifCond}}

  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      {{> "systems/shinobi/templates/actor/parts/actor-features.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{> "systems/shinobi/templates/actor/parts/actor-bio.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/shinobi/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Active Trascendental Combat Tab --}}
    <div class="tab tras-combat-styles" data-group="primary" data-tab="tras-combat-styles">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/tras-combat-styles.hbs"}}
    </div>

    {{!-- Active Chakra Tab --}}
    <div class="tab chakra" data-group="primary" data-tab="chakra">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/chakra.hbs"}}
    </div>

    {{!-- Active Invocation Tab --}}
    <div class="tab invocation" data-group="primary" data-tab="invocation">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/invocation.hbs"}}
    </div>

    {{!-- Active Canalization Tab --}}
    <div class="tab canalization" data-group="primary" data-tab="canalization">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/canalization.hbs"}}
    </div>

  </section>
</form>