<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize Name}}" /></h1>
    </div>
  </header>
  {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
  use both the "grid" and "grid-Ncol" class where "N" can be any number
  from 1 to 12 and will create that number of columns. --}}
  <div class="resources grid grid-1col">

    {{!-- "flex-group-center" is also defined in the _grid.scss file
    and it will add a small amount of padding, a border, and will
    center all of its child elements content and text. --}}

    <div class="resource-content flexrow flex-center flex-between">
      <div class="resource-field">
        <label for="system.class.value" class="resource-label">{{localize "Class"}}</label>
        <select value="{{system.class.value}}" class="select-field" name="system.class.value">
          {{#select system.class.value}}
          {{#each system.classes as |class name|}}
          <option value="{{name}}">{{class.label}}</option>
          {{/each}}
          {{/select}}
        </select>
        <br>
        <label for="system.ethnicity.value" class="resource-label">{{localize "Ethnicity"}}</label>
        <select name="system.ethnicity.value" class="select-field">
          {{#select system.ethnicity.value}}
          {{#each system.ethnicities as |ethnicity name|}}
          <option value="{{name}}">{{ethnicity.label}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      <div class="resource-content">
        <div class="resource-field">
          <label for="system.attributes.level.value" class="resource-label">{{localize "Level"}}</label>
          <input type="number" name="system.attributes.level.value" value="{{system.attributes.level.value}}"
            data-dtype="Number" />
        </div>
      </div>

    </div>

    <div class="resource flexrow flex-center flex-between">
      <div class="resource-content">
        <div class="resource-field">
          <label for="system.initiative.value" class="resource-label">{{localize "Initiative"}}</label>
          <input type="number" name="system.initiative.value" value="{{system.initiative.value}}" data-dtype="Number" />
        </div>
      </div>
      <div class="resource-content">
        <div class="resource-field">
          <label for="system.attributes.carryArmor.value" class="resource-label">{{localize "Carry Armor"}}</label>
          <input type="number" name="system.attributes.carryArmor.value" value="{{system.attributes.carryArmor.value}}"
            data-dtype="Number" />
        </div>
      </div>
    </div>
    <div class="resource-content flexrow flex-center flex-">
      <div class="resource-field">
        <label for="system.health" class="resource-label">{{localize "Health"}}</label>
        <div class="resource-field flexrow flex-center flex-between">
          <div class="resource-field flexrow flex-center">
            <label for="system.health.value" class="resource-label">{{localize
              "Current"}}</label>
            <input type="number" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
          </div>
          <div class="resource-field flexrow flex-center">
            <label for="system.health.max" class="resource-label">{{localize
              "Max"}}</label>
            <input type="number" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
          </div>
        </div>
      </div>
      <div class="resource-field">
        <label for="system.attributes.trascendentalShard"
          class="resource-label class-dependant warrior-dependant">{{localize
          "Trascendental Shards"}}</label>
        <div class="resource-field flexrow flex-center flex-between">
          <div class="resource-field flexrow flex-center">
            <label for="system.attributes.trascendentalShard.value"
              class="resource-label class-dependant warrior-dependant">{{localize
              "Current"}}</label>
            <input class="class-dependant warrior-dependant" type="number"
              name="system.attributes.trascendentalShard.value" value="{{system.attributes.trascendentalShard.value}}"
              data-dtype="Number" />
          </div>
          <div class="resource-field flexrow flex-center">
            <label for="system.attributes.trascendentalShard.max"
              class="resource-label class-dependant warrior-dependant">{{localize
              "Max"}}</label>
            <input class="class-dependant warrior-dependant" type="number"
              name="system.attributes.trascendentalShard.max" value="{{system.attributes.trascendentalShard.max}}"
              data-dtype="Number" />
          </div>
        </div>
        <div class="resource-field">
          <label for="system.attributes.chakra"
            class="resource-label class-dependant energyShaolin-dependant ninja-dependant">{{localize
            "Chakra"}}</label>
          <div class="resource-field flexrow flex-center flex-between">
            <div class="resource-field flexrow flex-center">
              <label for="system.attributes.chakra.value"
                class="resource-label class-dependant energyShaolin-dependant ninja-dependant">{{localize
                "Current"}}</label>
              <input class="class-dependant energyShaolin-dependant ninja-dependant" type="number"
                name="system.attributes.chakra.value" value="{{system.attributes.chakra.value}}" data-dtype="Number" />
            </div>
            <div class="resource-field flexrow flex-center">
              <label for="system.attributes.chakra.max"
                class="resource-label class-dependant energyShaolin-dependant ninja-dependant">{{localize
                "Max"}}</label>
              <input class="class-dependant energyShaolin-dependant ninja-dependant" type="number"
                name="system.attributes.chakra.max" value="{{system.attributes.chakra.max}}" data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="resource-field">
          <label for="system.attributes.arcana"
            class="resource-label class-dependant samurai-dependant warriorOmnyoji-dependant omnyoji-dependant">{{localize
            "Arcana"}}</label>
          <div class="resource-field flexrow flex-center flex-between">
            <div class="resource-field flexrow flex-center">
              <label for="system.attributes.arcana.value"
                class="resource-label class-dependant samurai-dependant warriorOmnyoji-dependant omnyoji-dependant">{{localize
                "Current"}}</label>
              <input class="class-dependant samurai-dependant warriorOmnyoji-dependant omnyoji-dependant" type="number"
                name="system.attributes.arcana.value" value="{{system.attributes.arcana.value}}" data-dtype="Number" />
            </div>
            <div class="resource-field flexrow flex-center">
              <label for="system.attributes.arcana.max"
                class="resource-label class-dependant samurai-dependant warriorOmnyoji-dependant omnyoji-dependant">{{localize
                "Max"}}</label>
              <input class="class-dependant samurai-dependant warriorOmnyoji-dependant omnyoji-dependant" type="number"
                name="system.attributes.arcana.max" value="{{system.attributes.arcana.max}}" data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="resource-field">
          <label for="system.attributes.executionSpeed"
            class="resource-label class-dependant energyShaolin-dependant">{{localize
            "Execution Speed"}}</label>
          <div class="resource-field flexrow flex-center flex-between">
            <div class="resource-field flexrow flex-center">
              <label for="system.attributes.executionSpeed.body"
                class="resource-label class-dependant energyShaolin-dependant">{{localize
                "Body"}}</label>
     
              <input class="class-dependant energyShaolin-dependant" type="number"
                name="system.attributes.executionSpeed.body" value="{{system.attributes.executionSpeed.body}}"
                data-dtype="Number" />
            </div>
            <div class="resource-field flexrow flex-center">
              <label for="system.attributes.executionSpeed.speed"
                class="resource-label class-dependant energyShaolin-dependant">{{localize
                "Speed"}}</label>
      
              <input class="class-dependant energyShaolin-dependant" type="number"
                name="system.attributes.executionSpeed.speed" value="{{system.attributes.executionSpeed.speed}}"
                data-dtype="Number" />
            </div>
            <div class="resource-field flexrow flex-center">
              <label for="system.attributes.executionSpeed.soul"
                class="resource-label class-dependant energyShaolin-dependant">{{localize
                "Soul"}}</label>
              <input class="class-dependant energyShaolin-dependant" type="number"
                name="system.attributes.executionSpeed.soul" value="{{system.attributes.executionSpeed.soul}}"
                data-dtype="Number" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">{{localize "Features"}}</a>
    <a class="item" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="items">{{localize "Items"}}</a>
    <a class="item" data-tab="spells">{{localize "Spells"}}</a>
    <a class="item" data-tab="effects">{{localize "Effects"}}</a>

    <a class="item class-dependant warrior-dependant" id="tras-combat-styles" data-tab="tras-combat-styles">{{localize
      "Trascendental"}}</a>
    <a class="item class-dependant ninja-dependant" id="chakra" data-tab="chakra">{{localize "Chakra"}}</a>
    <a class="item class-dependant warriorOmnyoji-dependant omnyoji-dependant" id="canalization"
      data-tab="canalization">{{localize
      "Canalization"}}</a>
    <a class="item class-dependant samurai-dependant" id="invocation" data-tab="invocation">{{localize
      "Invocation"}}</a>

  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns. --}}
          <div class="abilities flexcol">
            <div class="abilities-header flexrow flex-group-center">
              <h3>{{localize "Feature"}}</h3>
              <h3>{{localize "Value"}}</h3>
              <h3>{{localize "Modifier"}}</h3>
            </div>
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <div class="ability-label">
                <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left"
                  data-roll="1d10x10+@abilities.{{key}}.value" data-label="{{ability.label}}"><i
                    class="fa-solid fa-dice-d10" data-label="{{ability.label}}"></i> {{ability.label}}</label>
              </div>
              <div class="ability-input">
                <input type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}"
                  data-dtype="Number" />
              </div>
              <div class="ability-mod">
                <span class="ability-mod rollable" data-roll="1d10x10+@abilities.{{key}}.mod"
                  data-label="{{ability.label}} Mod"><i class="fa-solid fa-dice-d10"
                    data-label="{{ability.label}} Mod"></i> {{numberFormat ability.mod decimals=0 sign=true}}</span>
              </div>
            </div>
            {{/each}}
          </div>
          <br>
          <div class="resistances flexcol">
            <div class="resistances-header flexrow flex-group-center">
              <h3 class="resistance-label">{{localize "Resistance"}}</h3>
              <h3 class="resistance-level">{{localize "Level"}}</h3>
              <h3 class="resistance-mod">{{localize "Mod."}}</h3>
              <h3 class="resistance-others">{{localize "Others"}}</h3>
              <h3 class="resistance-final">{{localize "Final"}}</h3>
            </div>
            {{#each system.resistances as |resistance key|}}
            <div class="resistance flexrow flex-group-center">
              <div class="resistance-label">
                <label for="system.resistances.{{key}}.final" class="resource-label rollable flexlarge align-left"
                  data-roll="1d10x10+@resistances.{{key}}.final" data-label="{{localize 'Resistance'}}
                  {{resistance.label}}"><i class="fa-solid fa-dice-d10" data-label="{{localize 'Resistance'}}
                    {{resistance.label}}"></i> {{resistance.label}}</label>
              </div>
              <div class="resistance-level">
                <label for="{{resistance.level}}">{{resistance.level}}</label>
              </div>
              <div class="resistance-mod">
                <label type="number" name="system.resistances.{{key}}.mod" value="{{resistance.mod}}"
                  data-dtype="Number">{{resistance.mod}}</label>
              </div>
              <div class="resistance-others">
                <input type="number" name="system.resistances.{{key}}.others" value="{{resistance.others}}"
                  data-dtype="Number" />
              </div>
              <div class="resistance-final">
                <label type="number" name="system.resistances.{{key}}.final" value="{{resistance.final}}"
                  data-dtype="Number">{{resistance.final}}</label>
              </div>
            </div>
            {{/each}}
          </div>

        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in
          module/helpers/templates.mjs --}}
          <aside class="sidebar">

            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns. --}}
            <div class="secondaries flexcol">
              <div class="secondaries-header flexrow flex-group-center">
                <h3 class="secondaries-name">{{localize "Name"}}</h3>
                <h3 class="secondaries-ip">{{localize "IP"}}</h3>
                <h3 class="secondaries-mod">{{localize "Mod."}}</h3>
                <h3 class="secondaries-class">{{localize "Class"}}</h3>
                <h3 class="secondaries-nd">{{localize "ND"}}</h3>
                <h3 class="secondaries-others">{{localize "Others"}}</h3>
                <h3 class="secondaries-final">{{localize "Final"}}</h3>
              </div>
              {{#each system.secondaries as |secondary key|}}
              <div class="secondary flexrow flex-group-center">
                <div class="secondary-label">
                  <label for="system.secondaries.{{key}}.final" class="resource-label rollable flexlarge align-left"
                    data-roll="1d10x10+@secondaries.{{key}}.final" data-label="{{secondary.label}}"><i
                      class="fa-solid fa-dice-d10" data-label="{{secondary.label}}"></i> {{secondary.label}}</label>
                </div>
                <div class="secondary-ip">
                  <input type="number" name="system.secondaries.{{key}}.ip" value="{{secondary.ip}}"
                    data-dtype="Number" />
                </div>
                <div class="secondary-mod">
                  <label type="number" name="system.secondaries.{{key}}.mod" value="{{secondary.mod}}"
                    data-dtype="Number">{{secondary.mod}}</label>
                </div>
                <div class="secondary-class">
                  <input type="number" name="system.secondaries.{{key}}.class" value="{{secondary.class}}"
                    data-dtype="Number"></input>
                </div>
                <div class="secondary-nd">
                  <input type="number" name="system.secondaries.{{key}}.nd" value="{{secondary.nd}}"
                    data-dtype="Number"></input>
                </div>
                <div class="secondary-others">
                  <input type="number" name="system.secondaries.{{key}}.others" value="{{secondary.others}}"
                    data-dtype="Number"></input>
                </div>
                <div class="secondary-final">
                  <label type="number" name="system.secondaries.{{key}}.final" value="{{secondary.final}}"
                    data-dtype="Number">{{secondary.final}}</label>
                </div>
              </div>
              {{/each}}
            </div>
          </aside>


        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to
      the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/shinobi/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/shinobi/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/shinobi/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>