<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" data-dtype="text" type="text" value="{{actor.name}}"
          placeholder="{{localize Name}}" /></h1>
    </div>
  </header>
  {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
  use both the "grid" and "grid-Ncol" class where "N" can be any number
  from 1 to 12 and will create that number of columns. --}}
  <div class="resources grid grid-4col">

    {{!-- "flex-group-center" is also defined in the _grid.scss file
    and it will add a small amount of padding, a border, and will
    center all of its child elements content and text. --}}

    <div class="resource-content flexrow flex-center">
      <div class="resource-field">
        <label for="system.attributes.challengeLevel" class="resource-label">{{localize "Challenge Level"}}</label>
        <input type="number" name="system.attributes.challengeLevel" value="{{system.attributes.challengeLevel}}"
          data-dtype="Number" />
        <br>
        <div class="resource-field-text">
          <label for="system.attributes.size" class="resource-label">{{localize "Size"}}</label>
          <input type="text" name="system.attributes.size" value="{{system.attributes.size}}" data-dtype="text" />
        </div>
        <br>
        {{> 'systems/shinobi/templates/actor/parts/actor-health.hbs'}}
      </div>
    </div>
    <div class="resource-content flexrow flex-center">
      <div class="resource-field">
        <label for="system.initiative.value" class="resource-label">{{localize "Initiative"}}</label>
        <input type="number" name="system.initiative.value" value="{{system.initiative.value}}" data-dtype="Number" />
        <br>
        <label for="system.speed.value" class="resource-label">{{localize "Movement Speed"}}</label>
        <input type="number" name="system.speed.value" value="{{system.speed.value}}" data-dtype="Number" />
        <br>
        {{> 'systems/shinobi/templates/actor/parts/actor-combat.hbs'}}
      </div>
    </div>
    <div class="resource-content flexrow flex-center">
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-fatigue.hbs'}}
        <br>
        {{> 'systems/shinobi/templates/actor/parts/actor-tiredness.hbs'}}
      </div>
    </div>
    <div class="resource-content flexrow flex-center">
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-armor.hbs'}}
      </div>
    </div>
  </div>
  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="features" data-group="primary">
      {{!--This line is for calling the function
      {{> "systems/shinobi/templates/actor/parts/actor-features.hbs"}}
      --}}

      <section class="grid grid-3col">
        <aside class="sidebar">
          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns. --}}
          <div class="abilities flexcol">
            <div class="abilities-header flexrow flex-group-center">
              <h3 class="ability-label">{{localize "Feature"}}</h3>
              <h3 class="ability-input">{{localize "Value"}}</h3>
              <h3 class="ability-mod">{{localize "Modifier"}}</h3>
            </div>
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <div class="ability-label">
                <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left"
                  data-roll="1d10x10+@abilities.{{key}}.value" data-label="{{ability.label}}"><i
                    class="fa-solid fa-dice-d10" data-label="{{ability.label}}"></i> {{ability.label}}</label>
              </div>
              <div class="ability-input">
                <input type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}"
                  data-dtype="Number" />
              </div>
              <div class="ability-mod">
                <span class="ability-mod rollable" data-roll="1d10x10+@abilities.{{key}}.mod"
                  data-label="{{ability.label}} Mod"><i class="fa-solid fa-dice-d10"
                    data-label="{{ability.label}} Mod"></i>
                  {{numberFormat ability.mod decimals=0 sign=true}}</span>
              </div>
            </div>
            {{/each}}
          </div>
          <br>
          <div class="resistances flexcol">
            <div class="resistances-header flexrow flex-group-center">
              <h3 class="resistance-label">{{localize "Resistance"}}</h3>
              <h3 class="resistance-value">{{localize "Value"}}</h3>
            </div>
            {{#each system.resistances as |resistance key|}}
            <div class="resistance flexrow flex-group-center">
              <div class="resistance-label">
                <label for="system.resistances.{{key}}.value" class="resource-label rollable flexlarge align-left"
                  data-roll="1d10+@resistances.{{key}}.value" data-label="{{localize 'Resistance'}}
                  {{resistance.label}}"><i class="fa-solid fa-dice-d10" data-label="{{localize 'Resistance'}}
                    {{resistance.label}}"></i> {{resistance.label}}</label>
              </div>
              <div class="resistance-value">
                <input type="number" name="system.resistances.{{key}}.value" value="{{resistance.value}}"
                  data-dtype="Number">
              </div>
            </div>
            {{/each}}
          </div>
          <br>
          <div class="secondaries flexcol">
            <div class="secondaries-header flexrow flex-group-center">
              <h3 class="secondary-label">{{localize "Secondary Ability"}}</h3>
              <h3 class="secondary-value">{{localize "Value"}}</h3>
            </div>
            {{#each system.secondaries as |secondary key|}}
            <div class="secondary flexrow flex-group-center">
              <div class="secondary-label">
                <label for="system.secondaries.{{key}}.value" class="resource-label rollable flexlarge align-left"
                  data-roll="1d10x10+@secondaries.{{key}}.value" data-label="{{secondary.label}}"><i
                    class="fa-solid fa-dice-d10" data-label="{{secondary.label}}"></i> {{secondary.label}}</label>
              </div>
              <div class="secondary-value">
                <input type="number" name="system.secondaries.{{key}}.value" value="{{secondary.value}}"
                  data-dtype="Number">
              </div>
            </div>
            {{/each}}
          </div>
        </aside>
        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in
          module/helpers/templates.mjs --}}
          <aside class="sidebar">
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns. --}}

            <div class="description flexcol">
              <div class="description-header flexrow flex-group-center">
                <h3 class="description-name">{{localize "Description"}}</h3>
              </div>
              <div class="description-body">
                <textarea data-dtype="text" placeholder="{{localize " Type the Yokai description here..."}}"
                  name="system.description" value="{{system.description}}">{{system.description}}</textarea>
              </div>
            </div>

            <div class="weapons flexcol">
              <div class="weapons-header flexrow flex-group-center">
                <h3 class="weapons-name">{{localize "Weapons"}}</h3>
              </div>
              <div class="weapons-body">
                <textarea data-dtype="text" placeholder="{{localize " Type the Yokai attacks here..."}}"
                  name="system.weapons" value="{{system.weapons}}">{{system.weapons}}</textarea>
              </div>
            </div>

            <div class="special flexcol">
              <div class="special-header flexrow flex-group-center">
                <h3 class="special-name">{{localize "Special Abilities"}}</h3>
              </div>
              <div class="special-body">
                <textarea data-dtype="text" placeholder="{{localize " Type the Yokai special abilities here..."}}"
                  name="system.special" value="{{system.special}}">{{system.special}}</textarea>
              </div>
            </div>
          </aside>
        </section>
      </section>
    </div>
  </section>
</form>