<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize Name}}" /></h1>
    </div>
  </header>
  {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
  use both the "grid" and "grid-Ncol" class where "N" can be any number
  from 1 to 12 and will create that number of columns. --}}
  <div class="resources grid grid-3col">

    {{!-- "flex-group-center" is also defined in the _grid.scss file
    and it will add a small amount of padding, a border, and will
    center all of its child elements content and text. --}}
    <div class="resource-content">


      {{!-- This part has to be replaced with the damage of the weapon, TODO --}}

      {{!-- <div class="resource-field">
        <label for="system.damage" class="resource-label">{{localize "Damage"}}</label>
        <label name="system.damage">{{system.damage}}</label>
      </div> --}}



      <div class="resource-field">
        <label for="system.class.value" class="resource-label">{{localize "Class"}}</label>
        <select class="select-field" name="system.class.value">
          {{#selectOptions system.classes selected=system.class.value}}
          {{/selectOptions}}
        </select>
      </div>
      <div class="resource-field">
        <label for="system.ethnicity.value" class="resource-label">{{localize "Ethnicity"}}</label>
        <select class="select-field" name="system.ethnicity.value">
          {{#selectOptions system.ethnicities selected=system.ethnicity.value}}
          {{/selectOptions}}
        </select>
      </div>
      <div class="resource-field">
        <label for="system.attributes.level.value" class="resource-label">{{localize "Level"}}</label>
        <input type="number" name="system.attributes.level.value" value="{{system.attributes.level.value}}"
          data-dtype="Number" max="20" min="1" />
      </div>
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-movementSpeed.hbs'}}
      </div>
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-initiative.hbs'}}
      </div>
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-regeneration.hbs'}}
      </div>
      <div class="resource-field">
        {{#ifCond "omnyoji" '!=' system.class.value}}
        {{> 'systems/shinobi/templates/actor/parts/actor-combat.hbs'}}
        {{/ifCond}}
        {{#ifCond "omnyoji" '==' system.class.value}}
        {{> 'systems/shinobi/templates/actor/parts/actor-combat-magic.hbs'}}
        {{/ifCond}}
      </div>
    </div>
    <div class="resource-content">
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-health.hbs'}}
        {{> 'systems/shinobi/templates/actor/parts/actor-rest.hbs'}}
      </div>
      <div class="resource-field">

        {{> 'systems/shinobi/templates/actor/parts/actor-tiredness.hbs'}}
      </div>
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-fatigue.hbs'}}
      </div>
    </div>
    <div class="resource-content">
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-carryArmor.hbs'}}
      </div>
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-armor.hbs'}}
      </div>
    </div>
  </div>


  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">{{localize "Features"}}</a>
    <a class="item" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="adv-disadv">{{localize "Advantages and Disadvantages"}}</a>
    <a class="item" data-tab="martial-combat">{{localize "Marcial Combat"}}</a>
    <a class="item" data-tab="items">{{localize "Items"}}</a>
    {{!-- Exclusive tabs depending of the class --}}
    {{#ifCond "warrior" '==' system.class.value}}
    <a class="item" data-tab="tras-combat-styles">{{localize "Trascendental"}}</a>
    {{/ifCond}}

    {{#ifCond "ninja" '==' system.class.value}}
    <a class="item" data-tab="chakra">{{localize "Chakra"}}</a>
    {{/ifCond}}

    {{#ifCond "mixedNinja" '==' system.class.value}}
    <a class="item" data-tab="chakra">{{localize "Chakra"}}</a>
    {{/ifCond}}

    {{#ifCond "shaolin" '==' system.class.value}}
    <a class="item" data-tab="ki">{{localize "Ki"}}</a>
    {{/ifCond}}

    {{#ifCond "energyShaolin" '==' system.class.value}}
    <a class="item" data-tab="ki">{{localize "Ki"}}</a>
    {{/ifCond}}

    {{#ifCond "samurai" '==' system.class.value}}
    <a class="item" id="invocation" data-tab="invocation">{{localize "Invocation"}}</a>
    {{/ifCond}}

    {{#ifCond "warriorOmnyoji" '==' system.class.value}}
    <a class="item" data-tab="canalization">{{localize "Canalization"}}</a>
    {{/ifCond}}

    {{#ifCond "omnyoji" '==' system.class.value}}
    <a class="item" data-tab="canalization">{{localize "Canalization"}}</a>
    {{/ifCond}}

    {{#ifCond "henge" '==' system.class.value}}
    <a class="item" data-tab="impregnate-tech">{{localize "Impregnate Techniques"}}</a>
    {{/ifCond}}

    {{#ifCond "kannushi" '==' system.class.value}}
    <a class="item" data-tab="divine-power">{{localize "Divine Power"}}</a>
    {{/ifCond}}

    {{#ifCond "ronin" '==' system.class.value}}
    <a class="item" data-tab="breaths-tech">{{localize "Breath Techniques"}}</a>
    {{/ifCond}}

    {{#ifCond "ryoshi" '==' system.class.value}}
    <a class="item" data-tab="hunt-tech">{{localize "Hunt Techniques"}}</a>
    {{/ifCond}}

    {{#ifCond "ryoshi" '==' system.class.value}}
    <a class="item" data-tab="blood-tech">{{localize "Blood Techniques"}}</a>
    {{/ifCond}}

  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      {{> "systems/shinobi/templates/actor/parts/actor-features.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <div class="resource-content">
        <details id="clan" {{#openDetails "clan" }}{{/openDetails}}>
          <summary class="resource-field-text summary">
            <label for="system.clan.name" class="resource-box-label">{{localize "Clan"}}</label>
            <input type="text" name="system.clan.name" value="{{system.clan.name}}" data-dtype="text" />
          </summary>
          <div class="resource-box">
            <div class="clan-body">
              <label for="system.clan.effects" class="resource-label">{{localize "Clan Description"}}</label>
              <textarea data-dtype="text" placeholder="{{localize " Type the clan description here..."}}"
                name="system.clan.effects">{{system.clan.effects}}</textarea>
            </div>
          </div>
        </details>
      </div>
      {{> "systems/shinobi/templates/actor/parts/actor-bio.hbs"}}
    </div>

    {{!-- Owned Advantages and Disadvantages Tab --}}
    <div class="tab adv-disadv" data-group="primary" data-tab="adv-disadv">
      <div class="resource-field">
        <label for="system.advDisadv.advanced" class="resource-label">{{localize "Expanded options"}}</label>
        <input name="system.advDisadv.advanced" type="checkbox" {{#if system.advDisadv.advanced}}checked{{/if}}>
      </div>

      <div class="advDisadv flex-container">
        <div class="flex-container flex-col">
          <div class="advDisadv-name-adv flex-col">
            <h2>{{localize "Advantages"}}</h2>
            <div class="resource-field-advDisadv">
              <label for="system.adv1" class="resource-label">{{localize "Advantage"}} 1</label>
              <details id="adv1" {{#openDetails "adv1" }}{{/openDetails}}>
                <summary><input name="system.adv1.name" value="{{system.adv1.name}}" data-dtype="text" type="text">
                </summary>
                <textarea data-dtype="text" placeholder="{{localize " Type the advantage description here..."}}"
                  name="system.adv1.description"
                  value="{{system.adv1.description}}">{{system.adv1.description}}</textarea>
              </details>
            </div>
            <div class="resource-field-advDisadv">
              <label for="system.adv2" class="resource-label">{{localize "Advantage"}} 2</label>
              <details id="adv2" {{#openDetails "adv2" }}{{/openDetails}}>
                <summary><input name="system.adv2.name" value="{{system.adv2.name}}" data-dtype="text" type="text">
                </summary>
                <textarea data-dtype="text" placeholder="{{localize " Type the advantage description here..."}}"
                  name="system.adv2.description"
                  value="{{system.adv2.description}}">{{system.adv2.description}}</textarea>
              </details>
            </div>
            <div class="resource-field-advDisadv">
              <label for="system.adv3" class="resource-label">{{localize "Advantage"}} 3</label>
              <details id="adv3" {{#openDetails "adv3" }}{{/openDetails}}>
                <summary><input name="system.adv3.name" value="{{system.adv3.name}}" data-dtype="text" type="text">
                </summary>
                <textarea data-dtype="text" placeholder="{{localize " Type the advantage description here..."}}"
                  name="system.adv3.description"
                  value="{{system.adv3.description}}">{{system.adv3.description}}</textarea>
              </details>
            </div>
            <div class="resource-field-advDisadv">
              <label for="system.adv4" class="resource-label">{{localize "Advantage"}} 4</label>
              <details id="adv4" {{#openDetails "adv4" }}{{/openDetails}}>
                <summary><input name="system.adv4.name" value="{{system.adv4.name}}" data-dtype="text" type="text">
                </summary>
                <textarea data-dtype="text" placeholder="{{localize " Type the advantage description here..."}}"
                  name="system.adv4.description"
                  value="{{system.adv4.description}}">{{system.adv4.description}}</textarea>
              </details>
            </div>
            <hr>
            {{#if system.advDisadv.advanced}}
            <div class="resource-field-advDisadv">
              <label for="system.adv.ip" class="resource-label">{{localize "IP obtained from Disadvantages"}}</label>
            </div>
            {{/if}}
          </div>
          <div class="advDisadv-cost">
            <h2>{{localize "Cost"}}</h2>
            <div class="resource-field-advDisadv">
              <label for="system.adv1" class="resource-label">{{localize "Cost"}} 1</label>
              <input name="system.adv1.cost" value="{{system.adv1.cost}}" data-dtype="Number" type="number">
            </div>
            <div class="resource-field-advDisadv">
              <label for="system.adv2" class="resource-label">{{localize "Cost"}} 2</label>
              <input name="system.adv2.cost" value="{{system.adv2.cost}}" data-dtype="Number" type="number">
            </div>
            <div class="resource-field-advDisadv">
              <label for="system.adv3" class="resource-label">{{localize "Cost"}} 3</label>
              <input name="system.adv3.cost" value="{{system.adv3.cost}}" data-dtype="Number" type="number">
            </div>
            <div class="resource-field-advDisadv">
              <label for="system.adv4" class="resource-label">{{localize "Cost"}} 4</label>
              <input name="system.adv4.cost" value="{{system.adv4.cost}}" data-dtype="Number" type="number">
            </div>
            <hr>
            {{#if system.advDisadv.advanced}}
            <div class="resource-field-advDisadv">
              <label for="system.disadv.ip" class="resource-label">{{localize "IP"}}</label>
              <input name="system.adv.ip" value="{{system.adv.ip}}" data-dtype="Number" type="number">
            </div>
            <hr>
            {{/if}}
            <div class="resource-field-advDisadv">
              <label for="system.adv.total" class="resource-label">{{localize "Total"}}</label>
              <label type="number" name="system.adv.total" value="{{system.adv.total}}">{{system.adv.total}}</label>
            </div>
          </div>
        </div>
        <div class="flex-container flex-col">
          <div class="advDisadv-gain">
            <h2>{{localize "Gain"}}</h2>
            <div class="resource-field-advDisadv">
              <label for="system.disadv1" class="resource-label">{{localize "Gain"}} 1</label>
              <input name="system.disadv1.gain" value="{{system.disadv1.gain}}" data-dtype="Number" type="number">
            </div>
            <div class="resource-field-advDisadv">
              <label for="system.disadv2" class="resource-label">{{localize "Gain"}} 2</label>
              <input name="system.disadv2.gain" value="{{system.disadv2.gain}}" data-dtype="Number" type="number">
            </div>
            <div class="resource-field-advDisadv">
              <label for="system.disadv3" class="resource-label">{{localize "Gain"}} 3</label>
              <input name="system.disadv3.gain" value="{{system.disadv3.gain}}" data-dtype="Number" type="number">
            </div>
            <div class="resource-field-advDisadv">
              <label for="system.disadv4" class="resource-label">{{localize "Gain"}} 4</label>
              <input name="system.disadv4.gain" value="{{system.disadv4.gain}}" data-dtype="Number" type="number">
            </div>
            <hr>
            {{#if system.advDisadv.advanced}}
            <div class="resource-field-advDisadv">
              <label for="system.disadv.ip" class="resource-label">{{localize "IP"}}</label>
              <input name="system.disadv.ip" value="{{system.disadv.ip}}" data-dtype="Number" type="number">
            </div>
            <hr>
            {{/if}}
            <div class="resource-field-advDisadv">
              <label for="system.disadv.total" class="resource-label">{{localize "Total"}}</label>
              <label type="number" name="system.disadv.total"
                value="{{system.disadv.total}}">{{system.disadv.total}}</label>
            </div>
          </div>
          <div class="advDisadv-name-disadv flex-col">
            <h2>{{localize "Disadvantages"}}</h2>
            <div class="resource-field-advDisadv">
              <label for="system.disadv1" class="resource-label">{{localize "Disadvantage"}} 1</label>
              <details id="disadv1" {{#openDetails "disadv1" }}{{/openDetails}}>
                <summary><input name="system.disadv1.name" value="{{system.disadv1.name}}" data-dtype="text"
                    type="text"></summary>
                <textarea data-dtype="text" placeholder="{{localize " Type the disadvantage description here..."}}"
                  name="system.disadv1.description"
                  value="{{system.disadv1.description}}">{{system.disadv1.description}}</textarea>
              </details>
            </div>
            <div class="resource-field-advDisadv">
              <label for="system.disadv2" class="resource-label">{{localize "Disadvantage"}} 2</label>
              <details id="disadv2" {{#openDetails "disadv2" }}{{/openDetails}}>
                <summary><input name="system.disadv2.name" value="{{system.disadv2.name}}" data-dtype="text"
                    type="text"></summary>
                <textarea data-dtype="text" placeholder="{{localize " Type the disadvantage description here..."}}"
                  name="system.disadv2.description"
                  value="{{system.disadv2.description}}">{{system.disadv2.description}}</textarea>
              </details>
            </div>
            <div class="resource-field-advDisadv">
              <label for="system.disadv3" class="resource-label">{{localize "Disadvantage"}} 3</label>
              <details id="disadv3" {{#openDetails "disadv3" }}{{/openDetails}}>
                <summary><input name="system.disadv3.name" value="{{system.disadv3.name}}" data-dtype="text"
                    type="text"></summary>
                <textarea data-dtype="text" placeholder="{{localize " Type the disadvantage description here..."}}"
                  name="system.disadv3.description"
                  value="{{system.disadv3.description}}">{{system.disadv3.description}}</textarea>
              </details>
            </div>
            <div class="resource-field-advDisadv">
              <label for="system.disadv4" class="resource-label">{{localize "Disadvantage"}} 4</label>
              <details id="disadv4" {{#openDetails "disadv4" }}{{/openDetails}}>
                <summary><input name="system.disadv4.name" value="{{system.disadv4.name}}" data-dtype="text"
                    type="text"></summary>
                <textarea data-dtype="text" placeholder="{{localize " Type the disadvantage description here..."}}"
                  name="system.disadv4.description"
                  value="{{system.disadv4.description}}">{{system.disadv4.description}}</textarea>
              </details>
            </div>
            <hr>
            {{#if system.advDisadv.advanced}}
            <div class="resource-field-advDisadv">
              <label for="system.disadv.ip" class="resource-label">{{localize "IP inverted on Advantages"}}</label>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
      {{> "systems/shinobi/templates/actor/parts/actor-adv-disadv.hbs"}}
    </div>

    {{!-- Owned Martial Combat Tab --}}
    <div class="tab martial-combat" data-group="primary" data-tab="martial-combat">
      {{> "systems/shinobi/templates/actor/parts/actor-martial-combat.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/shinobi/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Active Trascendental Combat Tab --}}
    <div class="tab tras-combat-styles" data-group="primary" data-tab="tras-combat-styles">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/tras-combat-styles.hbs"}}
    </div>

    {{!-- Active Chakra Tab --}}
    <div class="tab chakra" data-group="primary" data-tab="chakra">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/chakra.hbs"}}
    </div>

    {{!-- Active Ki Tab --}}
    <div class="tab ki" data-group="primary" data-tab="ki">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/ki.hbs"}}
    </div>

    {{!-- Active Invocation Tab --}}
    <div class="tab invocation" data-group="primary" data-tab="invocation">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/invocation.hbs"}}
    </div>

    {{!-- Active Canalization Tab --}}
    <div class="tab canalization" data-group="primary" data-tab="canalization">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/canalization.hbs"}}
    </div>

    {{!-- Active Impregnate Techniques Tab --}}
    <div class="tab impregnate-tech" data-group="primary" data-tab="impregnate-tech">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/impregnate-tech.hbs"}}
    </div>

    {{!-- Active Divine Power Tab --}}
    <div class="tab divine-power" data-group="primary" data-tab="divine-power">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/divine-power.hbs"}}
    </div>

    {{!-- Active Breath Techniques Tab --}}
    <div class="tab breaths-tech" data-group="primary" data-tab="breaths-tech">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/breaths-tech.hbs"}}
    </div>

    {{!-- Active Hunt Techniques Tab --}}
    <div class="tab hunt-tech" data-group="primary" data-tab="hunt-tech">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/hunt-tech.hbs"}}
    </div>

    {{!-- Active Blood Techniques Tab --}}
    <div class="tab blood-tech" data-group="primary" data-tab="blood-tech">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/blood-tech.hbs"}}
    </div>
  </section>
</form>