<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize Name}}" /></h1>
    </div>
  </header>
  {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
  use both the "grid" and "grid-Ncol" class where "N" can be any number
  from 1 to 12 and will create that number of columns. --}}
  <div class="resources grid grid-3col">

    {{!-- "flex-group-center" is also defined in the _grid.scss file
    and it will add a small amount of padding, a border, and will
    center all of its child elements content and text. --}}
    <div class="resource-content">
      <div class="resource-field">
        <label for="system.class.value" class="resource-label">{{localize "Class"}}</label>
        <select class="select-field" name="system.class.value">
          {{#selectOptions system.classes selected=system.class.value}}
          {{/selectOptions}}
        </select>
      </div>
      <div class="resource-field">
        <label for="system.ethnicity.value" class="resource-label">{{localize "Ethnicity"}}</label>
        <select class="select-field" name="system.ethnicity.value">
          {{#selectOptions system.ethnicities selected=system.ethnicity.value}}
          {{/selectOptions}}
        </select>
      </div>
      <div class="resource-field">
        <label for="system.attributes.level.value" class="resource-label">{{localize "Level"}}</label>
        <input type="number" name="system.attributes.level.value" value="{{system.attributes.level.value}}"
          data-dtype="Number" max="20" min="1" />
      </div>
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-movementSpeed.hbs'}}
      </div>
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-initiative.hbs'}}
      </div>
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-regeneration.hbs'}}
      </div>
      <div class="resource-field">
        {{#ifCond "omnyoji" '!=' system.class.value}}
        {{> 'systems/shinobi/templates/actor/parts/actor-combat.hbs'}}
        {{/ifCond}}
        {{#ifCond "omnyoji" '==' system.class.value}}
        {{> 'systems/shinobi/templates/actor/parts/actor-combat-magic.hbs'}}
        {{/ifCond}}
      </div>
    </div>
    <div class="resource-content">
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-health.hbs'}}
        {{> 'systems/shinobi/templates/actor/parts/actor-rest.hbs'}}
      </div>
      <div class="resource-field">

        {{> 'systems/shinobi/templates/actor/parts/actor-tiredness.hbs'}}
      </div>
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-fatigue.hbs'}}
      </div>
    </div>
    <div class="resource-content">
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-carryArmor.hbs'}}
      </div>
      <div class="resource-field">
        {{> 'systems/shinobi/templates/actor/parts/actor-armor.hbs'}}
      </div>
    </div>
  </div>


  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">{{localize "Features"}}</a>
    <a class="item" data-tab="description">{{localize "Description"}}</a>
    <a class="item" data-tab="adv-disadv">{{localize "Advantages and Disadvantages"}}</a>
    <a class="item" data-tab="items">{{localize "Items"}}</a>
    {{!-- Exclusive tabs depending of the class --}}
    {{#ifCond "warrior" '==' system.class.value}}
    <a class="item" data-tab="tras-combat-styles">{{localize "Trascendental"}}</a>
    {{/ifCond}}

    {{#ifCond "ninja" '==' system.class.value}}
    <a class="item" data-tab="ki">{{localize "Ki"}}</a>
    {{/ifCond}}

    {{#ifCond "shaolin" '==' system.class.value}}
    <a class="item" data-tab="ki">{{localize "Ki"}}</a>
    {{/ifCond}}

    {{#ifCond "energyShaolin" '==' system.class.value}}
    <a class="item" data-tab="ki">{{localize "Ki"}}</a>
    {{/ifCond}}

    {{#ifCond "samurai" '==' system.class.value}}
    <a class="item" id="invocation" data-tab="invocation">{{localize "Invocation"}}</a>
    {{/ifCond}}

    {{#ifCond "warriorOmnyoji" '==' system.class.value}}
    <a class="item" data-tab="canalization">{{localize "Canalization"}}</a>
    {{/ifCond}}

    {{#ifCond "omnyoji" '==' system.class.value}}
    <a class="item" data-tab="canalization">{{localize "Canalization"}}</a>
    {{/ifCond}}

    {{#ifCond "henge" '==' system.class.value}}
    <a class="item" data-tab="impregnate-tech">{{localize "Impregnate Techniques"}}</a>
    {{/ifCond}}

    {{#ifCond "kannushi" '==' system.class.value}}
    <a class="item" data-tab="divine-power">{{localize "Divine Power"}}</a>
    {{/ifCond}}

    {{#ifCond "ronin" '==' system.class.value}}
    <a class="item" data-tab="breaths-tech">{{localize "Breath Techniques"}}</a>
    {{/ifCond}}

    {{#ifCond "ryoshi" '==' system.class.value}}
    <a class="item" data-tab="hunt-tech">{{localize "Hunt Techniques"}}</a>
    {{/ifCond}}

    {{#ifCond "ryoshi" '==' system.class.value}}
    <a class="item" data-tab="blood-tech">{{localize "Blood Techniques"}}</a>
    {{/ifCond}}

  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      {{> "systems/shinobi/templates/actor/parts/actor-features.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{> "systems/shinobi/templates/actor/parts/actor-bio.hbs"}}
    </div>

    {{!-- Owned Advantages and Disadvantages Tab --}}
    <div class="tab adv-disadv" data-group="primary" data-tab="adv-disadv">
      {{> "systems/shinobi/templates/actor/parts/actor-adv-disadv.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/shinobi/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Active Trascendental Combat Tab --}}
    <div class="tab tras-combat-styles" data-group="primary" data-tab="tras-combat-styles">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/tras-combat-styles.hbs"}}
    </div>

    {{!-- Active Ki Tab --}}
    <div class="tab ki" data-group="primary" data-tab="ki">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/ki.hbs"}}
    </div>

    {{!-- Active Invocation Tab --}}
    <div class="tab invocation" data-group="primary" data-tab="invocation">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/invocation.hbs"}}
    </div>

    {{!-- Active Canalization Tab --}}
    <div class="tab canalization" data-group="primary" data-tab="canalization">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/canalization.hbs"}}
    </div>

    {{!-- Active Impregnate Techniques Tab --}}
    <div class="tab impregnate-tech" data-group="primary" data-tab="impregnate-tech">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/impregnate-tech.hbs"}}
    </div>

    {{!-- Active Divine Power Tab --}}
    <div class="tab divine-power" data-group="primary" data-tab="divine-power">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/divine-power.hbs"}}
    </div>

    {{!-- Active Breath Techniques Tab --}}
    <div class="tab breaths-tech" data-group="primary" data-tab="breaths-tech">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/breaths-tech.hbs"}}
    </div>

    {{!-- Active Hunt Techniques Tab --}}
    <div class="tab hunt-tech" data-group="primary" data-tab="hunt-tech">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/hunt-tech.hbs"}}
    </div>

    {{!-- Active Blood Techniques Tab --}}
    <div class="tab blood-tech" data-group="primary" data-tab="blood-tech">
      {{> "systems/shinobi/templates/actor/parts/classes/tabs/blood-tech.hbs"}}
    </div>
  </section>
</form>