<label for="system.health" class="resource-box-label">{{localize "Health"}}</label>
<div class="resource-box">
    <div class="resource-field">
        <label for="system.health.value" class="resource-label">{{localize "Current"}}</label>
        <input type="number" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
    </div>
    <hr>
    <div class="resource-field">
        <label for="system.health.max" class="resource-label">{{localize "Max"}}</label>
        <input type="number" name="system.health.max" value="{{system.health.max}}" />
    </div>
</div>