<label for="system.fatigue" class="resource-box-label">{{localize "Fatigue"}}</label>
<div class="resource-box">
    <div class="resource-field">
        <label for="system.fatigue.value" class="resource-label">{{localize "Current"}}</label>
        <input type="number" name="system.fatigue.value" value="{{system.fatigue.value}}" data-dtype="Number" />
    </div>
    <hr>
    <div class="resource-field">
        <label for="system.fatigue.max" class="resource-label">{{localize "Max"}}</label>
        <input type="number" name="system.fatigue.max" value="{{system.fatigue.max}}" />
    </div>
</div>