<label for="system.tiredness" class="resource-box-label">{{localize "Tiredness"}}</label>
<div class="resource-box">
    <div class="resource-field">
        <label for="system.tiredness.value" class="resource-label">{{localize "Current"}}</label>
        <input type="number" name="system.tiredness.value" value="{{system.tiredness.value}}" data-dtype="Number" />
    </div>
    <hr>
    <div class="resource-field">
        <label for="system.tiredness.max" class="resource-label">{{localize "Max"}}</label>
        <input type="number" name="system.tiredness.max" value="{{system.tiredness.max}}" />
    </div>
</div>