<label for="system.armor" class="resource-box-label">{{localize "Armor"}}</label>
<div class="resource-box">
    <div class="resource-field">
        <label for="system.armor.phisical" class="resource-label">{{localize "Phisical"}}</label>
        <input type="number" name="system.armor.phisical" value="{{system.armor.phisical}}" />
    </div>
    <hr>
    <div class="resource-field">
        <label for="system.armor.heat" class="resource-label">{{localize "Heat"}}</label>
        <input type="number" name="system.armor.heat" value="{{system.armor.heat}}" />
    </div>
    <hr>
    <div class="resource-field">
        <label for="system.armor.cold" class="resource-label">{{localize "Cold"}}</label>
        <input type="number" name="system.armor.cold" value="{{system.armor.cold}}" />
    </div>
    <hr>
    <div class="resource-field">
        <label for="system.armor.electrical" class="resource-label">{{localize "Electrical"}}</label>
        <input type="number" name="system.armor.electrical" value="{{system.armor.electrical}}" />
    </div>
    <hr>
    <div class="resource-field">
        <label for="system.armor.sobrenatural" class="resource-label">{{localize "Sobrenatural"}}</label>
        <input type="number" name="system.armor.sobrenatural" value="{{system.armor.sobrenatural}}" />
    </div>
</div>