<div class="grid grid-2col">
    <div class="resource">
        <label class="resource-label">{{localize "Type"}}</label>
        <select value="{{system.type.value}}" class="select-field" name="system.type.value">
            {{#select system.type.value}}
            {{#each system.types as |type name|}}
            <option value="{{name}}">{{type.label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="resource">
        <label class="resource-label">{{localize "Damage"}}</label>
        <input type="number" name="system.damage" value="{{system.damage}}" data-dtype="number" />
    </div>
    <div class="resource">
        <label class="resource-label">{{localize "Initiative"}}</label>
        <input type="number" name="system.initiative" value="{{system.initiative}}" data-dtype="number" />
    </div>
    <div class="resource">
        <label class="resource-label">{{localize "Required Strengh"}}</label>
        <input type="number" name="system.requiredStrengh" value="{{system.requiredStrengh}}" data-dtype="number" />
    </div>
    <div class="resource">
        <label class="resource-label">{{localize "Size"}}</label>
        <input type="text" name="system.size" value="{{system.size}}" data-dtype="text" />
    </div>
    <div class="resource">
        <label class="resource-label">{{localize "Quality"}}</label>
        <input type="number" name="system.quality" value="{{system.quality}}" data-dtype="number" />
    </div>
    {{#ifCond "ranged" '==' system.type.value}}
    <div class="resource">
        <label class="resource-label">{{localize "Range"}}</label>
        <input type="number" name="system.range" value="{{system.range}}" data-dtype="number" />
    </div>
    <div class="resource">
        <label class="resource-label">{{localize "Reload"}}</label>
        <input type="number" name="system.reload" value="{{system.reload}}" data-dtype="number" />
    </div>
    {{/ifCond}}
</div>
<div class="resource">
    <label class="resource-label">{{localize "Damage chart"}}</label>
    <div class="resource-chart grid grid-10col">
        <div class="">
            <label class="resource-label">{{localize "Difference"}}</label>
            <label class="resource-label">{{localize "Damage"}}</label>
            <label class="resource-label">{{localize "Percentage"}}</label>
        </div>
        <div class="resource-box">
            <label class="resource-label-light">4-5</label>
            <label class="resource-label">{{#Math 0.25 "*" system.damage}}{{/Math}}</label>
            <label class="resource-label-light">25%</label>
        </div>
        <div class="resource-box">
            <label class="resource-label-light">6-8</label>
            <label class="resource-label">{{#Math 0.5 "*" system.damage}}{{/Math}}</label>
            <label class="resource-label-light">50%</label>
        </div>
        <div class="resource-box">
            <label class="resource-label-light">9-10</label>
            <label class="resource-label">{{#Math 0.75 "*" system.damage}}{{/Math}}</label>
            <label class="resource-label-light">75%</label>
        </div>
        <div class="resource-box">
            <label class="resource-label-light">11-13</label>
            <label class="resource-label">{{#Math 1 "*" system.damage}}{{/Math}}</label>
            <label class="resource-label-light">100%</label>
        </div>
        <div class="resource-box">
            <label class="resource-label-light">14-18</label>
            <label class="resource-label">{{#Math 1.5 "*" system.damage}}{{/Math}}</label>
            <label class="resource-label-light">150%</label>
        </div>
        <div class="resource-box">
            <label class="resource-label-light">19-23</label>
            <label class="resource-label">{{#Math 2 "*" system.damage}}{{/Math}}</label>
            <label class="resource-label-light">200%</label>
        </div>
        <div class="resource-box">
            <label class="resource-label-light">24-29</label>
            <label class="resource-label">{{#Math 3 "*" system.damage}}{{/Math}}</label>
            <label class="resource-label-light">300%</label>
        </div>
        <div class="resource-box">
            <label class="resource-label-light">30-36</label>
            <label class="resource-label">{{#Math 4 "*" system.damage}}{{/Math}}</label>
            <label class="resource-label-light">400%</label>
        </div>
        <div class="resource-box">
            <label class="resource-label-light">37-...</label>
            <label class="resource-label">{{#Math 6 "*" system.damage}}{{/Math}}</label>
            <label class="resource-label-light">600%</label>
        </div>
    </div>
</div>

<br>
<div class="resource">
    <label class="resource-label">{{localize "Properties"}}</label>
    {{editor system.special target="system.special" rollData=rollData button=true owner=owner
    editable=editable}}
</div>