<form class="{{cssClass}}" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" /></h1>
    </header>

    {{!-- Item Sheet Body --}}
    <section>
        <table>
            {{!-- Weapon Type --}}
            <div class="form-group">
                <label>{{ localize "shinobi.itemWeaponTypes" }}</label>
                <select name="system.type.value">
                    {{selectOptions config.weaponTypes selected=system.type.value}}
                </select>
            </div>
            <tr>
                <th>{{localize "shinobi.weapon.damageAbbr"}}</th>
                <th>{{localize "shinobi.weapon.initiativeAbbr"}}</th>
                <th>{{localize "shinobi.weapon.requiredStrenghAbbr"}}</th>
                <th>{{localize "shinobi.weapon.sizeAbbr"}}</th>
                <th>{{localize "shinobi.weapon.reloadAbbr"}}</th>
                <th>{{localize "shinobi.weapon.rangeAbbr"}}</th>
                <th>{{localize "shinobi.weapon.specialAbbr"}}</th>
            </tr>
            <tr>
                {{!-- <td>
                    <select name="data.damage">
                        {{#select data.weapon.damage}}
                        {{#each config.attackTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td> --}}
                <td>
                    <input name="data.weapon.damage" type="text" value="{{data.weapon.damage}}" data-dtype="Number">
                </td>
                <td>
                    <input name="context.initiative" type="text" value="{{context.initiative}}" data-dtype="Number">
                </td>
                <td>
                    <input name="context.requiredStrengh" type="text" value="{{context.requiredStrengh}}"
                        data-dtype="Number">
                </td>
                <td>
                    <input name="context.size" type="text" value="{{context.size}}" data-dtype="Number">
                </td>
                <td>
                    <input name="context.reload" type="text" value="{{context.reload}}" data-dtype="Number">
                </td>
                <td>
                    <input name="context.range" type="text" value="{{context.range}}" data-dtype="Number">
                </td>
                <td>
                    <input name="context.special" type="text" value="{{context.special}}" data-dtype="Number">
                </td>
            </tr>
        </table>
        <label>{{ localize "shinobi.itemDescription" }}</label>
        <textarea name="context.description" cols="30" rows="10">{{context.description}}</textarea>
    </section>
</form>